# Data Science Tools and Ecosystem

**Objectives:**
- data science categories
- open source vs commercial
- popular languages
- api & libraries
- jupyter notebook

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Scikit-learn
3. Numpy
4. ggplot

Data Science Tools|
------------------|
mysql|
postgree sql
|mongo|

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Hesham Malek